#git rm -r --cached
*.idea*
*__pycache__*
*.pyc
back-end-src/media/*
back-end-src/tool_scripts/data/setting/local.py
back-end-src/tool_scripts/data/setting/remote.py
front-end-src/dist
front-end-src/node_modules
front-end-src/bower_components
fabfile_conf/production.py
*.swp