#git rm -r --cached
*.idea*
*__pycache__*
*.pyc
*.swp
back-end-src/media/*
back-end-src/APP_Inventor_case_base/setting_split/local.py
back-end-src/APP_Inventor_case_base/setting_split/remote.py
front-end-src/dist
front-end-src/node_modules
front-end-src/bower_components
front-end-src/test.js
operation-and-deployment-src/fabfile_conf/production.py
operation-and-deployment-src/dist/*
operation-and-deployment-src/backup/*