#git rm -r --cached
*.idea*
*__pycache__*
*.pyc
*node_modules*
setting.txt
Front-End-Vue-Project/dist
Front-End-Vue-Project/node_modules
Front-End-Vue-Project/bower_components
Vue-Project-Example/*
*.swp
media/*