raven
django==2.0.1
pillow
mysqlclient
djangorestframework-jwt==1.11.0
djangorestframework==3.7.3
markdown
django-filter==1.1.0
django-crispy-forms==1.7.0
django-reversion==2.0.11
django-formtools==2.1
django-favicon==0.1.3
future
httplib2
six
requests
coreapi
django-cors-headers==2.1.0
xlwt
xlsxwriter
drf-extensions
django-redis
pycryptodome
raven
django-simple-captcha
beautifulsoup4
pymysql
fabric3
simplejson
paramiko
uWSGI