@charset "utf-8";

.pos-r {
  position: relative !important;
}
.pos-a {
  position: absolute !important;
}
.pos-f {
  position: fixed !important;
  backface-visibility: hidden !important;
}
.pos-s {
  position: static !important;
}
.top-0 {
  top: 0 !important;
}
.bottom-0 {
  bottom: 0 !important;
}
.right-0 {
  right: 0 !important;
}
.left-0 {
  left: 0 !important;
}
.top-5 {
  top: 5px !important;
}
.bottom-5 {
  bottom: 5px !important;
}
.right-5 {
  right: 5px !important;
}
.left-5 {
  left: 5px !important;
}
.top-10 {
  top: 10px !important;
}
.bottom-10 {
  bottom: 10px !important;
}
.right-10 {
  right: 10px !important;
}
.left-10 {
  left: 10px !important;
}
.top-15 {
  top: 15px !important;
}
.bottom-15 {
  bottom: 15px !important;
}
.right-15 {
  right: 15px !important;
}
.left-15 {
  left: 15px !important;
}
.top-20 {
  top: 20px !important;
}
.bottom-20 {
  bottom: 20px !important;
}
.right-20 {
  right: 20px !important;
}
.left-20 {
  left: 20px !important;
}
.is-block {
  display: block !important;
}
.is-inline-block {
  display: inline-block !important;
}
.is-inline {
  display: inline !important;
}
.is-hidden {
  display: none !important;
}
.is-table {
  display: table !important;
}
.is-table-cell {
  display: table-cell !important;
}
.is-table-row {
  display: table-row !important;
}
.no-js .is-hidden--no-js {
  display: none !important;
}
.js .is-hidden--js {
  display: none !important;
}
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pos-tb-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pos-rl-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .pos-sm-a {
    position: relative !important;
  }
  .pos-sm-r {
    position: absolute !important;
  }
  .pos-sm-f {
    position: fixed !important;
    backface-visibility: hidden !important;
  }
  .pos-sm-s {
    position: static !important;
  }
  .top-sm-0 {
    top: 0 !important;
  }
  .bottom-sm-0 {
    bottom: 0 !important;
  }
  .right-sm-0 {
    right: 0 !important;
  }
  .left-sm-0 {
    left: 0 !important;
  }
  .top-sm-5 {
    top: 5px !important;
  }
  .bottom-sm-5 {
    bottom: 5px !important;
  }
  .right-sm-5 {
    right: 5px !important;
  }
  .left-sm-5 {
    left: 5px !important;
  }
  .top-sm-10 {
    top: 10px !important;
  }
  .bottom-sm-10 {
    bottom: 10px !important;
  }
  .right-sm-10 {
    right: 10px !important;
  }
  .left-sm-10 {
    left: 10px !important;
  }
  .top-sm-15 {
    top: 15px !important;
  }
  .bottom-sm-15 {
    bottom: 15px !important;
  }
  .right-sm-15 {
    right: 15px !important;
  }
  .left-sm-15 {
    left: 15px !important;
  }
  .top-sm-20 {
    top: 20px !important;
  }
  .bottom-sm-20 {
    bottom: 20px !important;
  }
  .right-sm-20 {
    right: 20px !important;
  }
  .left-sm-20 {
    left: 20px !important;
  }
  .is-block-sm {
    display: block !important;
  }
  .is-inline-block-sm {
    display: inline-block !important;
  }
  .is-inline-sm {
    display: inline !important;
  }
  .is-hidden-sm {
    display: none !important;
  }
  .is-table-sm {
    display: table !important;
  }
  .is-table-cell-sm {
    display: table-cell !important;
  }
  .is-table-row-sm {
    display: table-row !important;
  }
}
@media (min-width: 992px) {
  .pos-md-a {
    position: relative !important;
  }
  .pos-md-r {
    position: absolute !important;
  }
  .pos-md-f {
    position: fixed !important;
    backface-visibility: hidden !important;
  }
  .pos-md-s {
    position: static !important;
  }
  .top-md-0 {
    top: 0 !important;
  }
  .bottom-md-0 {
    bottom: 0 !important;
  }
  .right-md-0 {
    right: 0 !important;
  }
  .left-md-0 {
    left: 0 !important;
  }
  .top-md-5 {
    top: 5px !important;
  }
  .bottom-md-5 {
    bottom: 5px !important;
  }
  .right-md-5 {
    right: 5px !important;
  }
  .left-md-5 {
    left: 5px !important;
  }
  .top-md-10 {
    top: 10px !important;
  }
  .bottom-md-10 {
    bottom: 10px !important;
  }
  .right-md-10 {
    right: 10px !important;
  }
  .left-md-10 {
    left: 10px !important;
  }
  .top-md-15 {
    top: 15px !important;
  }
  .bottom-md-15 {
    bottom: 15px !important;
  }
  .right-md-15 {
    right: 15px !important;
  }
  .left-md-15 {
    left: 15px !important;
  }
  .top-md-20 {
    top: 20px !important;
  }
  .bottom-md-20 {
    bottom: 20px !important;
  }
  .right-md-20 {
    right: 20px !important;
  }
  .left-md-20 {
    left: 20px !important;
  }
  .is-block-md {
    display: block !important;
  }
  .is-inline-block-md {
    display: inline-block !important;
  }
  .is-inline-md {
    display: inline !important;
  }
  .is-hidden-md {
    display: none !important;
  }
  .is-table-md {
    display: table !important;
  }
  .is-table-cell-md {
    display: table-cell !important;
  }
  .is-table-row-md {
    display: table-row !important;
  }
}
@media (min-width: 1200px) {
  .pos-lg-a {
    position: relative !important;
  }
  .pos-lg-r {
    position: absolute !important;
  }
  .pos-lg-f {
    position: fixed !important;
    backface-visibility: hidden !important;
  }
  .pos-lg-s {
    position: static !important;
  }
  .top-lg-0 {
    top: 0 !important;
  }
  .bottom-lg-0 {
    bottom: 0 !important;
  }
  .right-lg-0 {
    right: 0 !important;
  }
  .left-lg-0 {
    left: 0 !important;
  }
  .top-lg-5 {
    top: 5px !important;
  }
  .bottom-lg-5 {
    bottom: 5px !important;
  }
  .right-lg-5 {
    right: 5px !important;
  }
  .left-lg-5 {
    left: 5px !important;
  }
  .top-lg-10 {
    top: 10px !important;
  }
  .bottom-lg-10 {
    bottom: 10px !important;
  }
  .right-lg-10 {
    right: 10px !important;
  }
  .left-lg-10 {
    left: 10px !important;
  }
  .top-lg-15 {
    top: 15px !important;
  }
  .bottom-lg-15 {
    bottom: 15px !important;
  }
  .right-lg-15 {
    right: 15px !important;
  }
  .left-lg-15 {
    left: 15px !important;
  }
  .top-lg-20 {
    top: 20px !important;
  }
  .bottom-lg-20 {
    bottom: 20px !important;
  }
  .right-lg-20 {
    right: 20px !important;
  }
  .left-lg-20 {
    left: 20px !important;
  }
  .is-block-lg {
    display: block !important;
  }
  .is-inline-block-lg {
    display: inline-block !important;
  }
  .is-inline-lg {
    display: inline !important;
  }
  .is-hidden-lg {
    display: none !important;
  }
  .is-table-lg {
    display: table !important;
  }
  .is-table-cell-lg {
    display: table-cell !important;
  }
  .is-table-row-lg {
    display: table-row !important;
  }
}
@media only screen and (max-width: 767px) {
  .is-hidden-xs-down {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .is-hidden-sm-up {
    display: none !important;
  }
}
@media only screen and (max-width: 991px) {
  .is-hidden-sm-down {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .is-hidden-md-up {
    display: none !important;
  }
}
@media only screen and (max-width: 1199px) {
  .is-hidden-md-down {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .is-hidden-lg-up {
    display: none !important;
  }
}
