@charset "utf-8";

.font-10 {
  font-size: 10px !important;
}
.font-11 {
  font-size: 11px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-22 {
  font-size: 22px !important;
}
.font-24 {
  font-size: 24px !important;
}
.font-26 {
  font-size: 26px !important;
}
.font-28 {
  font-size: 28px !important;
}
.font-30 {
  font-size: 30px !important;
}
.font-32 {
  font-size: 32px !important;
}
.font-34 {
  font-size: 34px !important;
}
.font-36 {
  font-size: 36px !important;
}
.font-38 {
  font-size: 38px !important;
}
.font-40 {
  font-size: 40px !important;
}
@media (min-width: 768px) {
  .font-sm-10 {
    font-size: 10px !important;
  }
  .font-sm-11 {
    font-size: 11px !important;
  }
  .font-sm-12 {
    font-size: 12px !important;
  }
  .font-sm-13 {
    font-size: 13px !important;
  }
  .font-sm-14 {
    font-size: 14px !important;
  }
  .font-sm-15 {
    font-size: 15px !important;
  }
  .font-sm-16 {
    font-size: 16px !important;
  }
  .font-sm-18 {
    font-size: 18px !important;
  }
  .font-sm-22 {
    font-size: 22px !important;
  }
  .font-sm-24 {
    font-size: 24px !important;
  }
  .font-sm-26 {
    font-size: 26px !important;
  }
  .font-sm-28 {
    font-size: 28px !important;
  }
  .font-sm-30 {
    font-size: 30px !important;
  }
  .font-sm-32 {
    font-size: 32px !important;
  }
  .font-sm-34 {
    font-size: 34px !important;
  }
  .font-sm-36 {
    font-size: 36px !important;
  }
  .font-sm-38 {
    font-size: 38px !important;
  }
  .font-sm-40 {
    font-size: 40px !important;
  }
}
@media (min-width: 992px) {
  .font-md-10 {
    font-size: 10px !important;
  }
  .font-md-11 {
    font-size: 11px !important;
  }
  .font-md-12 {
    font-size: 12px !important;
  }
  .font-md-13 {
    font-size: 13px !important;
  }
  .font-md-14 {
    font-size: 14px !important;
  }
  .font-md-15 {
    font-size: 15px !important;
  }
  .font-md-16 {
    font-size: 16px !important;
  }
  .font-md-18 {
    font-size: 18px !important;
  }
  .font-md-22 {
    font-size: 22px !important;
  }
  .font-md-24 {
    font-size: 24px !important;
  }
  .font-md-26 {
    font-size: 26px !important;
  }
  .font-md-28 {
    font-size: 28px !important;
  }
  .font-md-30 {
    font-size: 30px !important;
  }
  .font-md-32 {
    font-size: 32px !important;
  }
  .font-md-34 {
    font-size: 34px !important;
  }
  .font-md-36 {
    font-size: 36px !important;
  }
  .font-md-38 {
    font-size: 38px !important;
  }
  .font-md-40 {
    font-size: 40px !important;
  }
}
@media (min-width: 1200px) {
  .font-lg-10 {
    font-size: 10px !important;
  }
  .font-lg-11 {
    font-size: 11px !important;
  }
  .font-lg-12 {
    font-size: 12px !important;
  }
  .font-lg-13 {
    font-size: 13px !important;
  }
  .font-lg-14 {
    font-size: 14px !important;
  }
  .font-lg-15 {
    font-size: 15px !important;
  }
  .font-lg-16 {
    font-size: 16px !important;
  }
  .font-lg-18 {
    font-size: 18px !important;
  }
  .font-lg-22 {
    font-size: 22px !important;
  }
  .font-lg-24 {
    font-size: 24px !important;
  }
  .font-lg-26 {
    font-size: 26px !important;
  }
  .font-lg-28 {
    font-size: 28px !important;
  }
  .font-lg-30 {
    font-size: 30px !important;
  }
  .font-lg-32 {
    font-size: 32px !important;
  }
  .font-lg-34 {
    font-size: 34px !important;
  }
  .font-lg-36 {
    font-size: 36px !important;
  }
  .font-lg-38 {
    font-size: 38px !important;
  }
  .font-lg-40 {
    font-size: 40px !important;
  }
}
