@charset "utf-8";
@import './constant.scss';

.form-control {
  height: 40px;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 20px;
  background-color: transparent;
  border: 2px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all ease-in-out 150ms;
  -ms-transition: all ease-in-out 150ms;
  -o-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control:-moz-placeholder {
  color: #999;
}
.form-control::-moz-placeholder {
  color: #999;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control:focus {
  border-color: #2ed87b;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.form-control:focus::-webkit-input-placeholder {
  opacity: 0;
}
.form-control:focus:-moz-placeholder {
  opacity: 0;
}
.form-control:focus::-moz-placeholder {
  opacity: 0;
}
.form-control:focus:-ms-input-placeholder {
  opacity: 0;
}
select.form-control {
  height: 40px;
  line-height: 20px;
  background-image: url($RequestHost + '/static/image/select-arrow.png');
  background-repeat: no-repeat;
  background-position: right 12px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #f1f1f1;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 40px;
  }
  input[type="date"].form-control.input-lg,
  input[type="time"].form-control.input-lg,
  input[type="datetime-local"].form-control.input-lg,
  input[type="month"].form-control.input-lg,
  .input-group-lg input[type="date"].form-control,
  .input-group-lg input[type="time"].form-control,
  .input-group-lg input[type="datetime-local"].form-control,
  .input-group-lg input[type="month"].form-control {
    line-height: 46px;
  }
  input[type="date"].form-control.input-sm,
  input[type="time"].form-control.input-sm,
  input[type="datetime-local"].form-control.input-sm,
  input[type="month"].form-control.input-sm,
  .input-group-sm input[type="date"].form-control,
  .input-group-sm input[type="time"].form-control,
  .input-group-sm input[type="datetime-local"].form-control,
  .input-group-sm input[type="month"].form-control {
    line-height: 34px;
  }
}
.form-group {
  margin-bottom: 20px;
}
textarea.form-control {
  line-height: 18px;
  resize: none;
}
.form-control-static {
  min-height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-right: 0;
  padding-left: 0;
}
.form-group-lg .input-lg,
.form-group-lg .form-control,
.form-group-lg select.form-control,
.form-group-lg .form-control-static,
.input-lg,
select.input-lg {
  height: 46px;
  padding: 11px 14px;
  font-size: 13px;
  line-height: 20px;
  border-radius: 3px;
}
.form-group-sm .form-control,
.form-group-sm .form-control-static,
.input-sm {
  height: 34px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 20px;
  border-radius: 3px;
}
.form-group-sm select.form-control,
select.input-sm {
  height: 34px;
  line-height: 30px;
  padding: 0 10px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-left: -2px;
}
