@charset "utf-8";

.m-0 {
  margin: 0 !important;
}
.m-5 {
  margin: 5px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-15 {
  margin: 15px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-30 {
  margin: 30px !important;
}
.m-40 {
  margin: 30px !important;
}
@media (min-width: 768px) {
  .m-sm-0 {
    margin: 0 !important;
  }
  .m-sm-5 {
    margin: 5px !important;
  }
  .m-sm-10 {
    margin: 10px !important;
  }
  .m-sm-15 {
    margin: 15px !important;
  }
  .m-sm-20 {
    margin: 20px !important;
  }
  .m-sm-30 {
    margin: 30px !important;
  }
  .m-sm-40 {
    margin: 30px !important;
  }
}
@media (min-width: 992px) {
  .m-md-0 {
    margin: 0 !important;
  }
  .m-md-5 {
    margin: 5px !important;
  }
  .m-md-10 {
    margin: 10px !important;
  }
  .m-md-15 {
    margin: 15px !important;
  }
  .m-md-20 {
    margin: 20px !important;
  }
  .m-md-30 {
    margin: 30px !important;
  }
  .m-md-40 {
    margin: 30px !important;
  }
}
@media (min-width: 1200px) {
  .m-lg-0 {
    margin: 0 !important;
  }
  .m-lg-5 {
    margin: 5px !important;
  }
  .m-lg-10 {
    margin: 10px !important;
  }
  .m-lg-15 {
    margin: 15px !important;
  }
  .m-lg-20 {
    margin: 20px !important;
  }
  .m-lg-30 {
    margin: 30px !important;
  }
  .m-lg-40 {
    margin: 30px !important;
  }
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 30px !important;
}
@media (min-width: 768px) {
  .mt-sm-0 {
    margin-top: 0 !important;
  }
  .mt-sm-5 {
    margin-top: 5px !important;
  }
  .mt-sm-10 {
    margin-top: 10px !important;
  }
  .mt-sm-15 {
    margin-top: 15px !important;
  }
  .mt-sm-20 {
    margin-top: 20px !important;
  }
  .mt-sm-30 {
    margin-top: 30px !important;
  }
  .mt-sm-40 {
    margin-top: 30px !important;
  }
}
@media (min-width: 992px) {
  .mt-md-0 {
    margin-top: 0 !important;
  }
  .mt-md-5 {
    margin-top: 5px !important;
  }
  .mt-md-10 {
    margin-top: 10px !important;
  }
  .mt-md-15 {
    margin-top: 15px !important;
  }
  .mt-md-20 {
    margin-top: 20px !important;
  }
  .mt-md-30 {
    margin-top: 30px !important;
  }
  .mt-md-40 {
    margin-top: 30px !important;
  }
}
@media (min-width: 1200px) {
  .mt-lg-0 {
    margin-top: 0 !important;
  }
  .mt-lg-5 {
    margin-top: 5px !important;
  }
  .mt-lg-10 {
    margin-top: 10px !important;
  }
  .mt-lg-15 {
    margin-top: 15px !important;
  }
  .mt-lg-20 {
    margin-top: 20px !important;
  }
  .mt-lg-30 {
    margin-top: 30px !important;
  }
  .mt-lg-40 {
    margin-top: 30px !important;
  }
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 30px !important;
}
@media (min-width: 768px) {
  .mb-sm-0 {
    margin-bottom: 0 !important;
  }
  .mb-sm-5 {
    margin-bottom: 5px !important;
  }
  .mb-sm-10 {
    margin-bottom: 10px !important;
  }
  .mb-sm-15 {
    margin-bottom: 15px !important;
  }
  .mb-sm-20 {
    margin-bottom: 20px !important;
  }
  .mb-sm-30 {
    margin-bottom: 30px !important;
  }
  .mb-sm-40 {
    margin-bottom: 30px !important;
  }
}
@media (min-width: 992px) {
  .mb-md-0 {
    margin-bottom: 0 !important;
  }
  .mb-md-5 {
    margin-bottom: 5px !important;
  }
  .mb-md-10 {
    margin-bottom: 10px !important;
  }
  .mb-md-15 {
    margin-bottom: 15px !important;
  }
  .mb-md-20 {
    margin-bottom: 20px !important;
  }
  .mb-md-30 {
    margin-bottom: 30px !important;
  }
  .mb-md-40 {
    margin-bottom: 30px !important;
  }
}
@media (min-width: 1200px) {
  .mb-lg-0 {
    margin-bottom: 0 !important;
  }
  .mb-lg-5 {
    margin-bottom: 5px !important;
  }
  .mb-lg-10 {
    margin-bottom: 10px !important;
  }
  .mb-lg-15 {
    margin-bottom: 15px !important;
  }
  .mb-lg-20 {
    margin-bottom: 20px !important;
  }
  .mb-lg-30 {
    margin-bottom: 30px !important;
  }
  .mb-lg-40 {
    margin-bottom: 30px !important;
  }
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-40 {
  margin-left: 30px !important;
}
@media (min-width: 768px) {
  .ml-sm-0 {
    margin-left: 0 !important;
  }
  .ml-sm-5 {
    margin-left: 5px !important;
  }
  .ml-sm-10 {
    margin-left: 10px !important;
  }
  .ml-sm-15 {
    margin-left: 15px !important;
  }
  .ml-sm-20 {
    margin-left: 20px !important;
  }
  .ml-sm-30 {
    margin-left: 30px !important;
  }
  .ml-sm-40 {
    margin-left: 30px !important;
  }
}
@media (min-width: 992px) {
  .ml-md-0 {
    margin-left: 0 !important;
  }
  .ml-md-5 {
    margin-left: 5px !important;
  }
  .ml-md-10 {
    margin-left: 10px !important;
  }
  .ml-md-15 {
    margin-left: 15px !important;
  }
  .ml-md-20 {
    margin-left: 20px !important;
  }
  .ml-md-30 {
    margin-left: 30px !important;
  }
  .ml-md-40 {
    margin-left: 30px !important;
  }
}
@media (min-width: 1200px) {
  .ml-lg-0 {
    margin-left: 0 !important;
  }
  .ml-lg-5 {
    margin-left: 5px !important;
  }
  .ml-lg-10 {
    margin-left: 10px !important;
  }
  .ml-lg-15 {
    margin-left: 15px !important;
  }
  .ml-lg-20 {
    margin-left: 20px !important;
  }
  .ml-lg-30 {
    margin-left: 30px !important;
  }
  .ml-lg-40 {
    margin-left: 30px !important;
  }
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mr-40 {
  margin-right: 30px !important;
}
@media (min-width: 768px) {
  .mr-sm-0 {
    margin-right: 0 !important;
  }
  .mr-sm-5 {
    margin-right: 5px !important;
  }
  .mr-sm-10 {
    margin-right: 10px !important;
  }
  .mr-sm-15 {
    margin-right: 15px !important;
  }
  .mr-sm-20 {
    margin-right: 20px !important;
  }
  .mr-sm-30 {
    margin-right: 30px !important;
  }
  .mr-sm-40 {
    margin-right: 30px !important;
  }
}
@media (min-width: 992px) {
  .mr-md-0 {
    margin-right: 0 !important;
  }
  .mr-md-5 {
    margin-right: 5px !important;
  }
  .mr-md-10 {
    margin-right: 10px !important;
  }
  .mr-md-15 {
    margin-right: 15px !important;
  }
  .mr-md-20 {
    margin-right: 20px !important;
  }
  .mr-md-30 {
    margin-right: 30px !important;
  }
  .mr-md-40 {
    margin-right: 30px !important;
  }
}
@media (min-width: 1200px) {
  .mr-lg-0 {
    margin-right: 0 !important;
  }
  .mr-lg-5 {
    margin-right: 5px !important;
  }
  .mr-lg-10 {
    margin-right: 10px !important;
  }
  .mr-lg-15 {
    margin-right: 15px !important;
  }
  .mr-lg-20 {
    margin-right: 20px !important;
  }
  .mr-lg-30 {
    margin-right: 30px !important;
  }
  .mr-lg-40 {
    margin-right: 30px !important;
  }
}
.mtb-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mtb-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.mtb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mtb-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.mtb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.mtb-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.mtb-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.mtb-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.mtb-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.mtb-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}
.mtb-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.mtb-90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}
.mtb-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
@media (min-width: 768px) {
  .mtb-sm-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .mtb-sm-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .mtb-sm-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .mtb-sm-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  .mtb-sm-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .mtb-sm-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .mtb-sm-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
  .mtb-sm-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
  .mtb-sm-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
  .mtb-sm-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
  }
  .mtb-sm-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
  }
  .mtb-sm-90 {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
  }
  .mtb-sm-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }
}
@media (min-width: 992px) {
  .mtb-md-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .mtb-md-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .mtb-md-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .mtb-md-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  .mtb-md-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .mtb-md-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .mtb-md-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
  .mtb-md-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
  .mtb-md-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
  .mtb-md-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
  }
  .mtb-md-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
  }
  .mtb-md-90 {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
  }
  .mtb-md-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }
}
@media (min-width: 1200px) {
  .mtb-lg-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .mtb-lg-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .mtb-lg-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .mtb-lg-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  .mtb-lg-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .mtb-lg-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .mtb-lg-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
  .mtb-lg-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
  .mtb-lg-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
  .mtb-lg-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
  }
  .mtb-lg-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
  }
  .mtb-lg-90 {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
  }
  .mtb-lg-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }
}
.mrl-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.mrl-5 {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.mrl-10 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.mrl-15 {
  margin-right: 15px !important;
  margin-left: 15px !important;
}
.mrl-20 {
  margin-right: 20px !important;
  margin-left: 20px !important;
}
.mrl-30 {
  margin-right: 30px !important;
  margin-left: 30px !important;
}
.mrl-40 {
  margin-right: 40px !important;
  margin-left: 40px !important;
}
.mrl-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
@media (min-width: 768px) {
  .mrl-sm-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .mrl-sm-5 {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  .mrl-sm-10 {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  .mrl-sm-15 {
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
  .mrl-sm-20 {
    margin-right: 20px !important;
    margin-left: 20px !important;
  }
  .mrl-sm-30 {
    margin-right: 30px !important;
    margin-left: 30px !important;
  }
  .mrl-sm-40 {
    margin-right: 40px !important;
    margin-left: 40px !important;
  }
  .mrl-sm-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
@media (min-width: 992px) {
  .mrl-md-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .mrl-md-5 {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  .mrl-md-10 {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  .mrl-md-15 {
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
  .mrl-md-20 {
    margin-right: 20px !important;
    margin-left: 20px !important;
  }
  .mrl-md-30 {
    margin-right: 30px !important;
    margin-left: 30px !important;
  }
  .mrl-md-40 {
    margin-right: 40px !important;
    margin-left: 40px !important;
  }
  .mrl-md-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
@media (min-width: 1200px) {
  .mrl-lg-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .mrl-lg-5 {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  .mrl-lg-10 {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  .mrl-lg-15 {
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
  .mrl-lg-20 {
    margin-right: 20px !important;
    margin-left: 20px !important;
  }
  .mrl-lg-30 {
    margin-right: 30px !important;
    margin-left: 30px !important;
  }
  .mrl-lg-40 {
    margin-right: 40px !important;
    margin-left: 40px !important;
  }
  .mrl-lg-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
