@charset "utf-8";

.p-0 {
  padding: 0 !important;
}
.p-5 {
  padding: 5px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-15 {
  padding: 15px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-30 {
  padding: 25px !important;
}
.p-40 {
  padding: 30px !important;
}
@media (min-width: 768px) {
  .p-sm-0 {
    padding: 0 !important;
  }
  .p-sm-5 {
    padding: 5px !important;
  }
  .p-sm-10 {
    padding: 10px !important;
  }
  .p-sm-15 {
    padding: 15px !important;
  }
  .p-sm-20 {
    padding: 20px !important;
  }
  .p-sm-30 {
    padding: 25px !important;
  }
  .p-sm-40 {
    padding: 30px !important;
  }
}
@media (min-width: 992px) {
  .p-md-0 {
    padding: 0 !important;
  }
  .p-md-5 {
    padding: 5px !important;
  }
  .p-md-10 {
    padding: 10px !important;
  }
  .p-md-15 {
    padding: 15px !important;
  }
  .p-md-20 {
    padding: 20px !important;
  }
  .p-md-30 {
    padding: 25px !important;
  }
  .p-md-40 {
    padding: 30px !important;
  }
}
@media (min-width: 1200px) {
  .p-lg-0 {
    padding: 0 !important;
  }
  .p-lg-5 {
    padding: 5px !important;
  }
  .p-lg-10 {
    padding: 10px !important;
  }
  .p-lg-15 {
    padding: 15px !important;
  }
  .p-lg-20 {
    padding: 20px !important;
  }
  .p-lg-30 {
    padding: 25px !important;
  }
  .p-lg-40 {
    padding: 30px !important;
  }
}
.pt-0 {
  padding-top: 0 !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pt-60 {
  padding-top: 60px !important;
}
.pt-70 {
  padding-top: 70px !important;
}
.pt-80 {
  padding-top: 80px !important;
}
.pt-90 {
  padding-top: 90px !important;
}
.pt-100 {
  padding-top: 100px !important;
}
@media (min-width: 768px) {
  .pt-sm-0 {
    padding-top: 0 !important;
  }
  .pt-sm-5 {
    padding-top: 5px !important;
  }
  .pt-sm-10 {
    padding-top: 10px !important;
  }
  .pt-sm-15 {
    padding-top: 15px !important;
  }
  .pt-sm-20 {
    padding-top: 20px !important;
  }
  .pt-sm-30 {
    padding-top: 30px !important;
  }
  .pt-sm-40 {
    padding-top: 40px !important;
  }
  .pt-sm-50 {
    padding-top: 50px !important;
  }
  .pt-sm-60 {
    padding-top: 60px !important;
  }
  .pt-sm-70 {
    padding-top: 70px !important;
  }
  .pt-sm-80 {
    padding-top: 80px !important;
  }
  .pt-sm-90 {
    padding-top: 90px !important;
  }
  .pt-sm-100 {
    padding-top: 100px !important;
  }
}
@media (min-width: 992px) {
  .pt-md-0 {
    padding-top: 0 !important;
  }
  .pt-md-5 {
    padding-top: 5px !important;
  }
  .pt-md-10 {
    padding-top: 10px !important;
  }
  .pt-md-15 {
    padding-top: 15px !important;
  }
  .pt-md-20 {
    padding-top: 20px !important;
  }
  .pt-md-30 {
    padding-top: 30px !important;
  }
  .pt-md-40 {
    padding-top: 40px !important;
  }
  .pt-md-50 {
    padding-top: 50px !important;
  }
  .pt-md-60 {
    padding-top: 60px !important;
  }
  .pt-md-70 {
    padding-top: 70px !important;
  }
  .pt-md-80 {
    padding-top: 80px !important;
  }
  .pt-md-90 {
    padding-top: 90px !important;
  }
  .pt-md-100 {
    padding-top: 100px !important;
  }
}
@media (min-width: 1200px) {
  .pt-lg-0 {
    padding-top: 0 !important;
  }
  .pt-lg-5 {
    padding-top: 5px !important;
  }
  .pt-lg-10 {
    padding-top: 10px !important;
  }
  .pt-lg-15 {
    padding-top: 15px !important;
  }
  .pt-lg-20 {
    padding-top: 20px !important;
  }
  .pt-lg-30 {
    padding-top: 30px !important;
  }
  .pt-lg-40 {
    padding-top: 40px !important;
  }
  .pt-lg-50 {
    padding-top: 50px !important;
  }
  .pt-lg-60 {
    padding-top: 60px !important;
  }
  .pt-lg-70 {
    padding-top: 70px !important;
  }
  .pt-lg-80 {
    padding-top: 80px !important;
  }
  .pt-lg-90 {
    padding-top: 90px !important;
  }
  .pt-lg-100 {
    padding-top: 100px !important;
  }
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.pb-60 {
  padding-bottom: 60px !important;
}
.pb-70 {
  padding-bottom: 70px !important;
}
.pb-80 {
  padding-bottom: 80px !important;
}
.pb-90 {
  padding-bottom: 90px !important;
}
.pb-100 {
  padding-bottom: 100px !important;
}
@media (min-width: 768px) {
  .pb-sm-0 {
    padding-bottom: 0 !important;
  }
  .pb-sm-5 {
    padding-bottom: 5px !important;
  }
  .pb-sm-10 {
    padding-bottom: 10px !important;
  }
  .pb-sm-15 {
    padding-bottom: 15px !important;
  }
  .pb-sm-20 {
    padding-bottom: 20px !important;
  }
  .pb-sm-30 {
    padding-bottom: 30px !important;
  }
  .pb-sm-40 {
    padding-bottom: 40px !important;
  }
  .pb-sm-50 {
    padding-bottom: 50px !important;
  }
  .pb-sm-60 {
    padding-bottom: 60px !important;
  }
  .pb-sm-70 {
    padding-bottom: 70px !important;
  }
  .pb-sm-80 {
    padding-bottom: 80px !important;
  }
  .pb-sm-90 {
    padding-bottom: 90px !important;
  }
  .pb-sm-100 {
    padding-bottom: 100px !important;
  }
}
@media (min-width: 992px) {
  .pb-md-0 {
    padding-bottom: 0 !important;
  }
  .pb-md-5 {
    padding-bottom: 5px !important;
  }
  .pb-md-10 {
    padding-bottom: 10px !important;
  }
  .pb-md-15 {
    padding-bottom: 15px !important;
  }
  .pb-md-20 {
    padding-bottom: 20px !important;
  }
  .pb-md-30 {
    padding-bottom: 30px !important;
  }
  .pb-md-40 {
    padding-bottom: 40px !important;
  }
  .pb-md-50 {
    padding-bottom: 50px !important;
  }
  .pb-md-60 {
    padding-bottom: 60px !important;
  }
  .pb-md-70 {
    padding-bottom: 70px !important;
  }
  .pb-md-80 {
    padding-bottom: 80px !important;
  }
  .pb-md-90 {
    padding-bottom: 90px !important;
  }
  .pb-md-100 {
    padding-bottom: 100px !important;
  }
}
@media (min-width: 1200px) {
  .pb-lg-0 {
    padding-bottom: 0 !important;
  }
  .pb-lg-5 {
    padding-bottom: 5px !important;
  }
  .pb-lg-10 {
    padding-bottom: 10px !important;
  }
  .pb-lg-15 {
    padding-bottom: 15px !important;
  }
  .pb-lg-20 {
    padding-bottom: 20px !important;
  }
  .pb-lg-30 {
    padding-bottom: 30px !important;
  }
  .pb-lg-40 {
    padding-bottom: 40px !important;
  }
  .pb-lg-50 {
    padding-bottom: 50px !important;
  }
  .pb-lg-60 {
    padding-bottom: 60px !important;
  }
  .pb-lg-70 {
    padding-bottom: 70px !important;
  }
  .pb-lg-80 {
    padding-bottom: 80px !important;
  }
  .pb-lg-90 {
    padding-bottom: 90px !important;
  }
  .pb-lg-100 {
    padding-bottom: 100px !important;
  }
}
.pl-0 {
  padding-left: 0 !important;
}
.pl-5 {
  padding-left: 5px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.pl-15 {
  padding-left: 15px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.pl-40 {
  padding-left: 40px !important;
}
.pl-50 {
  padding-left: 50px !important;
}
.pl-60 {
  padding-left: 60px !important;
}
.pl-70 {
  padding-left: 70px !important;
}
.pl-80 {
  padding-left: 80px !important;
}
.pl-90 {
  padding-left: 90px !important;
}
.pl-100 {
  padding-left: 100px !important;
}
@media (min-width: 768px) {
  .pl-sm-0 {
    padding-left: 0 !important;
  }
  .pl-sm-5 {
    padding-left: 5px !important;
  }
  .pl-sm-10 {
    padding-left: 10px !important;
  }
  .pl-sm-15 {
    padding-left: 15px !important;
  }
  .pl-sm-20 {
    padding-left: 20px !important;
  }
  .pl-sm-30 {
    padding-left: 30px !important;
  }
  .pl-sm-40 {
    padding-left: 40px !important;
  }
  .pl-sm-50 {
    padding-left: 50px !important;
  }
  .pl-sm-60 {
    padding-left: 60px !important;
  }
  .pl-sm-70 {
    padding-left: 70px !important;
  }
  .pl-sm-80 {
    padding-left: 80px !important;
  }
  .pl-sm-90 {
    padding-left: 90px !important;
  }
  .pl-sm-100 {
    padding-left: 100px !important;
  }
}
@media (min-width: 992px) {
  .pl-md-0 {
    padding-left: 0 !important;
  }
  .pl-md-5 {
    padding-left: 5px !important;
  }
  .pl-md-10 {
    padding-left: 10px !important;
  }
  .pl-md-15 {
    padding-left: 15px !important;
  }
  .pl-md-20 {
    padding-left: 20px !important;
  }
  .pl-md-30 {
    padding-left: 30px !important;
  }
  .pl-md-40 {
    padding-left: 40px !important;
  }
  .pl-md-50 {
    padding-left: 50px !important;
  }
  .pl-md-60 {
    padding-left: 60px !important;
  }
  .pl-md-70 {
    padding-left: 70px !important;
  }
  .pl-md-80 {
    padding-left: 80px !important;
  }
  .pl-md-90 {
    padding-left: 90px !important;
  }
  .pl-md-100 {
    padding-left: 100px !important;
  }
}
@media (min-width: 1200px) {
  .pl-lg-0 {
    padding-left: 0 !important;
  }
  .pl-lg-5 {
    padding-left: 5px !important;
  }
  .pl-lg-10 {
    padding-left: 10px !important;
  }
  .pl-lg-15 {
    padding-left: 15px !important;
  }
  .pl-lg-20 {
    padding-left: 20px !important;
  }
  .pl-lg-30 {
    padding-left: 30px !important;
  }
  .pl-lg-40 {
    padding-left: 40px !important;
  }
  .pl-lg-50 {
    padding-left: 50px !important;
  }
  .pl-lg-60 {
    padding-left: 60px !important;
  }
  .pl-lg-70 {
    padding-left: 70px !important;
  }
  .pl-lg-80 {
    padding-left: 80px !important;
  }
  .pl-lg-90 {
    padding-left: 90px !important;
  }
  .pl-lg-100 {
    padding-left: 100px !important;
  }
}
.pr-0 {
  padding-right: 0 !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pr-15 {
  padding-right: 15px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pr-40 {
  padding-right: 40px !important;
}
.pr-50 {
  padding-right: 50px !important;
}
.pr-60 {
  padding-right: 60px !important;
}
.pr-70 {
  padding-right: 70px !important;
}
.pr-80 {
  padding-right: 80px !important;
}
.pr-90 {
  padding-right: 90px !important;
}
.pr-100 {
  padding-right: 100px !important;
}
@media (min-width: 768px) {
  .pr-sm-0 {
    padding-right: 0 !important;
  }
  .pr-sm-5 {
    padding-right: 5px !important;
  }
  .pr-sm-10 {
    padding-right: 10px !important;
  }
  .pr-sm-15 {
    padding-right: 15px !important;
  }
  .pr-sm-20 {
    padding-right: 20px !important;
  }
  .pr-sm-30 {
    padding-right: 30px !important;
  }
  .pr-sm-40 {
    padding-right: 40px !important;
  }
  .pr-sm-50 {
    padding-right: 50px !important;
  }
  .pr-sm-60 {
    padding-right: 60px !important;
  }
  .pr-sm-70 {
    padding-right: 70px !important;
  }
  .pr-sm-80 {
    padding-right: 80px !important;
  }
  .pr-sm-90 {
    padding-right: 90px !important;
  }
  .pr-sm-100 {
    padding-right: 100px !important;
  }
}
@media (min-width: 992px) {
  .pr-md-0 {
    padding-right: 0 !important;
  }
  .pr-md-5 {
    padding-right: 5px !important;
  }
  .pr-md-10 {
    padding-right: 10px !important;
  }
  .pr-md-15 {
    padding-right: 15px !important;
  }
  .pr-md-20 {
    padding-right: 20px !important;
  }
  .pr-md-30 {
    padding-right: 30px !important;
  }
  .pr-md-40 {
    padding-right: 40px !important;
  }
  .pr-md-50 {
    padding-right: 50px !important;
  }
  .pr-md-60 {
    padding-right: 60px !important;
  }
  .pr-md-70 {
    padding-right: 70px !important;
  }
  .pr-md-80 {
    padding-right: 80px !important;
  }
  .pr-md-90 {
    padding-right: 90px !important;
  }
  .pr-md-100 {
    padding-right: 100px !important;
  }
}
@media (min-width: 1200px) {
  .pr-lg-0 {
    padding-right: 0 !important;
  }
  .pr-lg-5 {
    padding-right: 5px !important;
  }
  .pr-lg-10 {
    padding-right: 10px !important;
  }
  .pr-lg-15 {
    padding-right: 15px !important;
  }
  .pr-lg-20 {
    padding-right: 20px !important;
  }
  .pr-lg-30 {
    padding-right: 25px !important;
  }
  .pr-lg-40 {
    padding-right: 30px !important;
  }
}
.ptb-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.ptb-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.ptb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.ptb-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.ptb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.ptb-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.ptb-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.ptb-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.ptb-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.ptb-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}
.ptb-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
.ptb-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}
.ptb-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}
@media (min-width: 768px) {
  .ptb-sm-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .ptb-sm-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .ptb-sm-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .ptb-sm-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .ptb-sm-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .ptb-sm-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .ptb-sm-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .ptb-sm-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .ptb-sm-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  .ptb-sm-70 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
  }
  .ptb-sm-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
  .ptb-sm-90 {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
  }
  .ptb-sm-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }
}
@media (min-width: 992px) {
  .ptb-md-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .ptb-md-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .ptb-md-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .ptb-md-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .ptb-md-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .ptb-md-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .ptb-md-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .ptb-md-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .ptb-md-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  .ptb-md-70 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
  }
  .ptb-md-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
  .ptb-md-90 {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
  }
  .ptb-md-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }
}
@media (min-width: 1200px) {
  .ptb-lg-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .ptb-lg-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .ptb-lg-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .ptb-lg-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .ptb-lg-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .ptb-lg-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .ptb-lg-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .ptb-lg-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .ptb-lg-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  .ptb-lg-70 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
  }
  .ptb-lg-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
  .ptb-lg-90 {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
  }
  .ptb-lg-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }
}
.prl-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.prl-5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.prl-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.prl-15 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.prl-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.prl-30 {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
.prl-40 {
  padding-right: 40px !important;
  padding-left: 40px !important;
}
@media (min-width: 768px) {
  .prl-sm-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .prl-sm-5 {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  .prl-sm-10 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .prl-sm-15 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .prl-sm-20 {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .prl-sm-30 {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  .prl-sm-40 {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
}
@media (min-width: 992px) {
  .prl-md-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .prl-md-5 {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  .prl-md-10 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .prl-md-15 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .prl-md-20 {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .prl-md-30 {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  .prl-md-40 {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
}
@media (min-width: 1200px) {
  .prl-lg-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .prl-lg-5 {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  .prl-lg-10 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .prl-lg-15 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .prl-lg-20 {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .prl-lg-30 {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  .prl-lg-40 {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
}
