@charset "utf-8";

.w-auto,
.w-xs-auto {
  width: auto !important;
}
.w-full,
.w-xs-full {
  width: 100% !important;
}
.w-fit,
.w-xs-fit {
  max-width: 100% !important;
}
.h-auto,
.h-xs-auto {
  height: auto !important;
}
.h-full,
.h-xs-full {
  height: 100% !important;
}
.h-full-screen,
.h-xs-full-screen {
  height: 100vh !important;
}
@media (min-width: 768px) {
  .w-sm-auto {
    width: auto !important;
  }
  .w-sm-full {
    width: 100% !important;
  }
  .w-sm-fit {
    max-width: 100% !important;
  }
  .h-sm-auto {
    height: auto !important;
  }
  .h-sm-full {
    height: 100% !important;
  }
  .h-sm-full-screen {
    height: 100vh !important;
  }
}
@media (min-width: 992px) {
  .w-md-auto {
    width: auto !important;
  }
  .w-md-full {
    width: 100% !important;
  }
  .w-md-fit {
    max-width: 100% !important;
  }
  .h-md-auto {
    height: auto !important;
  }
  .h-md-full {
    height: 100% !important;
  }
  .h-md-full-screen {
    height: 100vh !important;
  }
}
@media (min-width: 1200px) {
  .w-lg-auto {
    width: auto !important;
  }
  .w-lg-full {
    width: 100% !important;
  }
  .w-lg-fit {
    max-width: 100% !important;
  }
  .h-lg-auto {
    height: auto !important;
  }
  .h-lg-full {
    height: 100% !important;
  }
  .h-lg-full-screen {
    height: 100vh !important;
  }
}
