@charset "utf-8";

.color-green {
  color: #2ed87b !important;
}
.color-blue {
  color: #314555 !important;
}
.color-white {
  color: #fff !important;
}
.color-gray {
  color: #e9ebee !important;
}
.color-lighter {
  color: #F5F5F5 !important;
}
.color-light {
  color: #d4d4d4 !important;
}
.color-muted {
  color: #97a4ad !important;
}
.color-mid {
  color: #717f86 !important;
}
.color-dark {
  color: #4c5760 !important;
}
.color-darker {
  color: #384047 !important;
}
.color-inherit {
  color: inherit !important;
}
.color-success {
  color: #000 !important;
}
.color-info {
  color: #000 !important;
}
.color-warning {
  color: #000 !important;
}
.color-danger {
  color: #000 !important;
}
.color-h-green:hover {
  color: #2ed87b !important;
}
.color-h-blue:hover {
  color: #314555 !important;
}
.color-h-white:hover {
  color: #fff !important;
}
.color-h-gray:hover {
  color: #e9ebee !important;
}
.color-h-lighter:hover {
  color: #F5F5F5 !important;
}
.color-h-light:hover {
  color: #d4d4d4 !important;
}
.color-h-mid:hover {
  color: #717f86 !important;
}
.color-h-muted:hover {
  color: #97a4ad !important;
}
.color-h-dark:hover {
  color: #4c5760 !important;
}
.color-h-darker:hover {
  color: #384047 !important;
}
.color-h-inherit:hover {
  color: inherit !important;
}
.color-h-success:hover {
  color: #000 !important;
}
.color-h-info:hover {
  color: #000 !important;
}
.color-h-warning:hover {
  color: #000 !important;
}
.color-h-danger:hover {
  color: #000 !important;
}
.t-link.color-h-green:hover {
  color: #23ba67 !important;
}
.t-link.color-h-blue:hover {
  color: #22303b !important;
}
.t-link.color-h-success:hover {
  color: #000000 !important;
}
.t-link.color-h-info:hover {
  color: #000000 !important;
}
.t-link.color-h-warning:hover {
  color: #000000 !important;
}
.t-link.color-h-danger:hover {
  color: #000000 !important;
}
.t-italic {
  font-style: italic;
}
.t-uppercase {
  text-transform: uppercase;
}
.t-lowercase {
  text-transform: lowercase;
}
.t-no-decor {
  text-decoration: none;
}
.t-underline {
  text-decoration: underline;
}
.t-line-through {
  text-decoration: line-through;
}
.t-h-no-decor:hover {
  text-decoration: none;
}
.t-h-underline:hover {
  text-decoration: underline;
}
.t-h-line-through:hover {
  text-decoration: line-through;
}
.t-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.t-left,
.t-xs-left {
  text-align: left !important;
}
.t-right,
.t-xs-right {
  text-align: right !important;
}
.t-center,
.t-xs-center {
  text-align: center !important;
}
@media (min-width: 768px) {
  .t-sm-left {
    text-align: left !important;
  }
  .t-sm-right {
    text-align: right !important;
  }
  .t-sm-center {
    text-align: center !important;
  }
}
@media (min-width: 992px) {
  .t-md-left {
    text-align: left !important;
  }
  .t-md-right {
    text-align: right !important;
  }
  .t-md-center {
    text-align: center !important;
  }
}
@media (min-width: 1200px) {
  .t-lg-left {
    text-align: left !important;
  }
  .t-lg-right {
    text-align: right !important;
  }
  .t-lg-center {
    text-align: center !important;
  }
}
.valign-top {
  vertical-align: top !important;
}
.valign-bottom {
  vertical-align: bottom !important;
}
.valign-middle {
  vertical-align: middle !important;
}
.valign-baseline {
  vertical-align: baseline !important;
}
.valign-text-top {
  vertical-align: text-top !important;
}
.valign-text-bottom {
  vertical-align: text-bottom !important;
}
.valign-sub {
  vertical-align: sub !important;
}
.valign-super {
  vertical-align: super !important;
}
@media (min-width: 768px) {
  .valign-sm-top {
    vertical-align: top !important;
  }
  .valign-sm-bottom {
    vertical-align: bottom !important;
  }
  .valign-sm-middle {
    vertical-align: middle !important;
  }
  .valign-sm-baseline {
    vertical-align: baseline !important;
  }
  .valign-sm-text-top {
    vertical-align: text-top !important;
  }
  .valign-sm-text-bottom {
    vertical-align: text-bottom !important;
  }
  .valign-sm-sub {
    vertical-align: sub !important;
  }
  .valign-sm-super {
    vertical-align: super !important;
  }
}
@media (min-width: 992px) {
  .valign-md-top {
    vertical-align: top !important;
  }
  .valign-md-bottom {
    vertical-align: bottom !important;
  }
  .valign-md-middle {
    vertical-align: middle !important;
  }
  .valign-md-baseline {
    vertical-align: baseline !important;
  }
  .valign-md-text-top {
    vertical-align: text-top !important;
  }
  .valign-md-text-bottom {
    vertical-align: text-bottom !important;
  }
  .valign-md-sub {
    vertical-align: sub !important;
  }
  .valign-md-super {
    vertical-align: super !important;
  }
}
@media (min-width: 1200px) {
  .valign-lg-top {
    vertical-align: top !important;
  }
  .valign-lg-bottom {
    vertical-align: bottom !important;
  }
  .valign-lg-middle {
    vertical-align: middle !important;
  }
  .valign-lg-baseline {
    vertical-align: baseline !important;
  }
  .valign-lg-text-top {
    vertical-align: text-top !important;
  }
  .valign-lg-text-bottom {
    vertical-align: text-bottom !important;
  }
  .valign-lg-sub {
    vertical-align: sub !important;
  }
  .valign-lg-super {
    vertical-align: super !important;
  }
}
